---
const sdgImages = [
  {
    src: `${import.meta.env.BASE_URL}icons/SDG-3.svg`,
    alt: 'ODS 3 - Saúde e Bem-estar',
    title: 'Saúde e Bem-Estar'
  },
  {
    src: `${import.meta.env.BASE_URL}icons/SDG-4.svg`,
    alt: 'ODS 4 - Educação de Qualidade',
    title: 'Educação de Qualidade'
  },
  {
    src: `${import.meta.env.BASE_URL}icons/SDG-5.svg`,
    alt: 'ODS 5 - Igualdade de Gênero',
    title: 'Igualdade de Gênero'
  },
  {
    src: `${import.meta.env.BASE_URL}icons/SDG-8.svg`,
    alt: 'ODS 8 - Trabalho Decente e Crescimento Econômico',
    title: 'Trabalho Decente e Crescimento Econômico'
  },
  {
    src: `${import.meta.env.BASE_URL}icons/SDG-10.svg`,
    alt: 'ODS 10 - Redução das Desigualdades',
    title: 'Redução das Desigualdades'
  },
  {
    src: `${import.meta.env.BASE_URL}icons/SDG-17.svg`,
    alt: 'ODS 17 - Parcerias e Meios de Implementação',
    title: 'Parcerias e Meios de Implementação'
  },
  {
    src: `${import.meta.env.BASE_URL}icons/SDG-16.svg`,
    alt: 'ODS 16 - Paz, Justiça e Instituições Eficazes',
    title: 'Paz, Justiça e Instituições Eficazes'
  },          
];
---

<section class="w-full bg-tertiary-100">
  <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pb-28">
    <div class="mb-12">
      <h2 class="text-4xl lg:text-3xl font-medium tracking-tighter text-secondary-600 mb-4">
        Objetivos de 
        <span class="text-primary-600">Desenvolvimento Sustentável - ODS da ONU</span>
      </h2>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-7 gap-6 " data-aos="fade-up">
      {sdgImages?.map((sdg, index) => (
        <div class="aspect-square flex items-center justify-center">
          <img 
            src={sdg.src} 
            alt={sdg.alt || `ODS ${index + 1}`} 
            title={sdg.title || `Objetivo ${index + 1}`}
            width="200" 
            height="200" 
            class="w-full h-full object-contain rounded-lg"
          />
        </div>
      ))}
    </div>
  </section>
</section>